{% load static %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'css\event.css' %}">
</head>

<body>
    <div class="left-shape"></div>
    <div class="right-shape"></div>
    
    <ul>
        <li><a class="active" href="home">Home</a></li>
        
    </ul>
    <br>
    <br>
    <br>
    <h1 style="text-align: center;">Thanks for Registering!</h1>
    <p style="text-align: center;"><b>We've sent an email to your inbox. Please check your email and follow the <br>instructions to complete your registration</b></p>
    <div style="align-items: center; padding-left: 750px;">
         <img src="{% static 'css\party.png' %}" width="400" height="400" >
    </div>
    
</body>

</html>